#viewer {
    visibility: hidden
}

#UI-container:hover ~ #viewer{
    visibility: hidden
}

#search-container{
    margin: 10px;
    display: inline-block
}

#search-container input {
    width: 100%;
}

#voting-container{
    display: inline-block;
}